# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
.DS_Store
/bower_components/
/node_modules/
/.bowerrc
/components/bootswatch/superhero/
/src/css/*
!/src/css/
!/src/css/origin
/src/js/*
!/src/js/
!/src/js/origin
/src/html/_minified